<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.Auction_Dao">

	<sql id="selectAuction">
		SELECT A.*,aq.time_window , AC.ID, AC.name, to_timestamp(to_char(systimestamp,'yy/mm/dd hh24missff3'),'yy/mm/dd hh24missff3') as systime
		FROM AUCTION A 
		INNER JOIN AUCTION_DUE_QUE AQ 
		ON ( A.IDX = AQ.AUCTION_IDX ) 
		INNER JOIN ACCOUNT AC 
		ON ( A.WRITTER_IDX=AC.IDX )
		WHERE A.STATE_CODE =1 
		AND AQ.TIME_WINDOW > SYSTIMESTAMP
	</sql>

	<!-- 	이거 셀렉트할때 만료일자 우선순위로 올라오게 하는게 나을거같은데 조건 어떻게 쓰지..? -->
	<select id="selectAll" resultType="cocoFarm.dto.Auction">
		<include refid="selectAuction" />
		ORDER BY time_window ASC
	</select>

	<select id="countAll" resultType="int">
		SELECT COUNT(*) FROM auction
	</select>

	<select id="selectPage"
	 parameterType="cocoFarm.util.Auction_Paging"
	 resultType="cocoFarm.dto.Auction">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				<include refid="selectAuction" />
				ORDER BY time_window ASC
			) B
			ORDER BY rnum
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<sql id="selectSearch">
			SELECT rownum rnum, B.* FROM (
				<include refid="selectAuction" />
<!-- 				WHERE 1=1 -->
				AND 1=1
				<if test="search != null and search != ''">
					AND title LIKE '%' || #{search } || '%' 
				</if>
				ORDER BY time_window ASC
			) B
			ORDER BY rnum
	</sql>
	
	<select id="selectPageSearch"
	 parameterType="cocoFarm.util.Auction_Paging"
	 resultType="cocoFarm.dto.Auction">
		SELECT * FROM (
			<include refid="selectSearch" />
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="countSearch"
	 parameterType="cocoFarm.util.Auction_Paging"
	 resultType="int">
		SELECT COUNT(*) FROM (
			<include refid="selectSearch" />
		) CNT
	</select>

	<insert id="write" parameterType="cocoFarm.dto.Auction">
		
		INSERT INTO Auction(writter_idx, time_window_code, start_price, title, content, item_img, highest_bid)
		VALUES( #{writter_idx}, #{time_window_code}, #{start_price}, #{title}, #{content}, #{item_img}, #{start_price})
	</insert>

	<insert id="insertInquire" parameterType="cocoFarm.dto.Auction_Inquire">
		INSERT INTO Auction_Inquire(auction_idx, writer_idx, content)
		VALUES( #{auction_idx}, #{writer_idx }, #{content })
	</insert>


<!-- 	<update id="updateHit" parameterType="mvc.dto.Board"> -->
<!-- 		UPDATE board -->
<!-- 		SET hit = hit + 1 -->
<!-- 		WHERE boardno = #{boardno } -->
<!-- 	</update> -->

	<select id="selectAuctionByAuctionIDX"
		parameterType="cocoFarm.dto.Auction"
		resultType="cocoFarm.dto.Auction">
		
		<include refid="selectAuction" />
		AND A.idx = #{idx }
	</select>


	<select id="selectInquire" parameterType="cocoFarm.dto.Auction" resultType="cocoFarm.dto.Auction_Inquire">
	SELECT rownum rnum, AC.id, AC.name, B.* FROM (
			SELECT
				idx,
				auction_idx,
				writer_idx,
				CONTENT,
				written_time,
				answer,
				answer_time
			FROM auction_inquire
			WHERE auction_idx = #{idx }
		) B INNER JOIN account AC ON ( AC.idx =  B.writer_idx)
		ORDER BY written_time DESC
	</select>
	
	<update id="updateAnswer" parameterType="cocoFarm.dto.Auction_Inquire">
	UPDATE auction_inquire
		SET
			answer = #{answer}
	WHERE auction_idx = #{auction_idx} AND idx =#{idx }
	</update>
	
	

	<select id="getBidderList" resultType='cocoFarm.dto.BidDto'>
		<![CDATA[SELECT e.* FROM(
		SELECT DISTINCT b.*,ac.title, adq.time_window, acnt.name
		FROM bid b 
		INNER JOIN bid_alive_que ba ON (b.bidder_idx = ba.bidder_idx)
		INNER JOIN account acnt ON ( b.bidder_idx = acnt.idx )
		INNER JOIN auction ac ON (ac.idx = b.auction_idx) 
		INNER JOIN auction_due_que adq ON (adq.auction_idx = b.auction_idx)
		WHERE  b.auction_idx=#{idx} AND (b.state_code=1 OR b.state_code=2) ORDER BY amount DESC) e WHERE rownum<=5]]>
	</select>
	
	

	<select id="putBid" parameterType="cocoFarm.dto.BidDto" statementType="CALLABLE">
	    {call BIDDER(
	      #{auction_idx,jdbcType=NUMERIC,mode=IN}
	      ,#{amount,jdbcType=NUMERIC,mode=IN}
	      ,#{bidder_idx,jdbcType=NUMERIC,mode=IN}
	      ,#{isDone,jdbcType=NUMERIC,mode=OUT}
	    )}
	</select>
	
	<select id="cancelBid" parameterType="cocoFarm.dto.BidDto" statementType="CALLABLE">
	 	{call CANCEL_BID(
	 		#{auction_idx,jdbcType=NUMERIC,mode=IN}
	 		,#{amount,jdbcType=NUMERIC,mode=IN}
	 		,#{bidder_idx,jdbcType=NUMERIC,mode=IN}
	 		,#{isDone,jdbcType=NUMERIC,mode=OUT}
	 	)}
	</select>
	
	<select id="getMemberBid" parameterType="cocoFarm.dto.Account" resultType="cocoFarm.dto.BidDto">
		SELECT DISTINCT b.*,ac.title,bcq.payment_due, greatest( coalesce(adq.time_window,to_timestamp('2000','yyyy')), coalesce(ac.closed_when,to_timestamp('2000','yyyy')), coalesce(ac.finished_when,to_timestamp('2000','yyyy'))) time_window
      FROM bid b 
      INNER JOIN auction ac ON (ac.idx = b.auction_idx) 
      left JOIN bid_contract_que bcq ON (bcq.auction_idx = b.auction_idx)
      left JOIN auction_due_que adq ON (adq.auction_idx = b.auction_idx)
      WHERE (b.state_code=1 OR b.state_code=2 OR b.state_code=3 OR b.state_code=4) AND b.bidder_idx=#{idx} ORDER BY BID_TIME DESC
	</select>
	
	<select id="getauctionList" parameterType="cocoFarm.dto.Auction" resultType="cocoFarm.dto.Auction">
		SELECT ac.*, adq.time_window 
		FROM auction ac 
		INNER JOIN auction_due_que adq ON (adq.auction_idx = ac.idx) 
		WHERE writter_idx = #{writter_idx} ORDER BY time_window
	</select>
	
	<select id="auctionCancel" parameterType="cocoFarm.dto.Auction" statementType="CALLABLE">
		{call CANCEL_AUCTION(
	 		#{idx,jdbcType=NUMERIC,mode=IN}
	 		,#{writter_idx,jdbcType=NUMERIC,mode=IN}
	 		,#{isDone,jdbcType=NUMERIC,mode=OUT}
	 	)}
	</select>
	
	<select id="getAuctionMainList" resultType="cocoFarm.dto.Auction">
		<![CDATA[SELECT ac.*,adq.time_window ,acnt.name
		FROM auction ac 
		INNER JOIN auction_due_que adq ON (adq.auction_idx = ac.idx)
		INNER JOIN account acnt ON (ac.writter_idx = acnt.idx) 
		WHERE ac.state_code=1 
		AND rownum<=5 
		ORDER BY time_window ASC]]>
	</select>
	
	
	<select id="getMainAuctionList" resultType="cocoFarm.dto.AuctionMain">
		select AU.*, A.idx acc_idx, A.NAME acc_name,A.THUMB_LOC thumb_loc, BI.BUSINESS_LICENSE_CODE, BI.CORPORATION_NAME,BI.REPRESENTATIVE,BI.BUSINESS_ADDR,BI.BUSINESS_CATEGORY, AQ.TIME_WINDOW
		from AUCTION AU
		inner join (select AUCTION_IDX, TIME_WINDOW, ROWNUM R from AUCTION_DUE_QUE order by TIME_WINDOW asc) AQ on AU.IDX = AQ.AUCTION_IDX
		inner join ACCOUNT A on AU.WRITTER_IDX = A.IDX
		inner join BUSINESS_INFO BI on A.IDX = BI.ACC_IDX
		where AQ.R between 1 and 5 order by AQ.TIME_WINDOW asc
	</select>
	 
	 
	 <sql id="auctionList">
	 	SELECT ac.*,adq.time_window 
	 	FROM auction ac 
	 	LEFT JOIN auction_due_que adq ON (adq.auction_idx = ac.idx) 
	 </sql>
	 
	 <select id="admingetauctionList" resultType="cocoFarm.dto.Auction" >
	 	<include refid="auctionList"></include>
	 	ORDER BY reg_time desc
	 </select>
	 
	 <select id="admingetauctionTotal" resultType="int">
	 	SELECT COUNT(*) FROM auction
	 </select>
	 
	 <select id="admingetauctionPagingList" parameterType="cocoFarm.util.Admin_Auction_Paging" resultType="cocoFarm.dto.Auction">
	 	SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				<include refid="auctionList" />
				ORDER BY reg_time DESC
			) B
			ORDER BY rnum
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	 </select>
	 
	 
	 
	 
	 <sql id="receiptList">
	 	SELECT mr.*,bcr.title 
	 	FROM main_receipt mr 
	 	INNER JOIN bid_contract_receipt bcr 
	 	ON (mr.idx = bcr.main_recpt_idx)
	 </sql>
	 
	 <select id="admingetReceiptList" resultType="cocoFarm.dto.AuctionReceipt" >
	 	<include refid="receiptList"></include>
	 	ORDER BY contract_time desc
	 </select>
	 
	 <select id="admingetReceiptTotal" resultType="int">
	 	SELECT COUNT(*) FROM bid_contract_receipt
	 </select>
	 
	 <select id="admingetReceiptPagingList" parameterType="cocoFarm.util.Admin_Auction_Paging" resultType="cocoFarm.dto.AuctionReceipt">
	 	SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				<include refid="receiptList" />
				ORDER BY contract_time DESC
			) B
			ORDER BY rnum
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	 </select>

</mapper>

	












