<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.BoardDao">

<!-- 
<sql id="selectBoard">
 	SELECT acc_idx, title, content, written_date, hit, ISDEL,
 	(SELECT stored_filename FROM TODAYS_FARMER_file WHERE acc_idx=t.acc_idx) AS stored_filename	
 	FROM TODAYS_FARMER t where ISDEL = 0 		
</sql>
 -->


<sql id="selectBoard">
 	 SELECT TF.ACC_IDX ACC_IDX, TF.TITLE TITLE, TF.CONTENT CONTENT, TF.WRITTEN_DATE WRITTEN_DATE, TF.HIT HIT
        ,A.THUMB_LOC THUMB_LOC, A.NAME NAME
        ,TFF.STORED_FILENAME STORED_FILENAME
        ,ROWNUM R
    FROM TODAYS_FARMER TF
    LEFT JOIN ACCOUNT A ON TF.ACC_IDX = A.IDX
    LEFT JOIN TODAYS_FARMER_FILE TFF ON TF.ACC_IDX = TFF.ACC_IDX
    WHERE TF.ISDEL =0 AND A.ISDEL =0
    
</sql>

<select id="selectAll" resultType="cocoFarm.dto.Board">
 	<include refid="selectBoard" />
 	ORDER BY written_date desc 	
</select>

<select id="countAll" resultType="int">
 	SELECT COUNT(*) FROM TODAYS_FARMER where ISDEL = 0
</select>

<select id="selectPage" parameterType="cocoFarm.util.Paging" resultType="cocoFarm.dto.Board">
	SELECT * FROM (SELECT rownum rnum, B.* FROM 
	(<include refid="selectBoard" /> ORDER BY WRITTEN_DATE desc) B ORDER BY rnum ) R 
	WHERE rnum BETWEEN #{startNo } AND #{endNo }
</select>

<insert id="write" parameterType="cocoFarm.dto.Board">
	INSERT INTO TODAYS_FARMER (ACC_IDX, title, content) 
	VALUES (#{acc_idx }, #{title }, #{content })
</insert> 

<select id="selectBoardByAcc_idx" parameterType="cocoFarm.dto.Board" resultType="cocoFarm.dto.Board">
	SELECT TF.*, REC.CNT RECOMMEND FROM TODAYS_FARMER TF
		left join (select TODAYS_FARMER_IDX ACC_IDX, count(1) CNT from TODAYS_FARMER_RECOMMEND where TODAYS_FARMER_IDX = #{acc_idx} group by TODAYS_FARMER_IDX) REC on TF.ACC_IDX = REC.ACC_IDX
	WHERE TF.ACC_IDX = #{acc_idx } and TF.ISDEL = 0
</select>

<update id="update" parameterType="cocoFarm.dto.Board">
	UPDATE TODAYS_FARMER
	SET title = #{title }, content = #{content }
	WHERE ACC_IDX = #{acc_idx }
</update>

<update id="delete" parameterType="cocoFarm.dto.Board">
	DELETE TODAYS_FARMER 
 	WHERE ACC_IDX = #{acc_idx } 
</update>

<update id="updateHit" parameterType="cocoFarm.dto.Board">
	UPDATE TODAYS_FARMER
	SET hit = hit + 1
	WHERE ACC_IDX = #{acc_idx }
</update>

<insert id="insertFile" parameterType="cocoFarm.dto.BoardFile">
  	INSERT INTO TODAYS_FARMER_file (ACC_IDX, ORIGINAL_FILENAME, STORED_FILENAME, UPLOAD_DATE)
  	VALUES (#{acc_idx }, #{original_filename }, #{stored_filename }, sysdate)
 </insert>

<select id="getFile" parameterType="cocoFarm.dto.Board" resultType="cocoFarm.dto.BoardFile">
 SELECT ACC_IDX, ORIGINAL_FILENAME, STORED_FILENAME, UPLOAD_DATE FROM TODAYS_FARMER_file
 WHERE acc_idx = #{acc_idx }
</select>

<select id="getboardMainList" resultType="cocoFarm.dto.Board">
SELECT ACC_IDX, TITLE, CONTENT, WRITTEN_DATE, HIT, THUMB_LOC ,NAME, STORED_FILENAME FROM
    (SELECT TF.ACC_IDX ACC_IDX, TF.TITLE TITLE, TF.CONTENT CONTENT, TF.WRITTEN_DATE WRITTEN_DATE, TF.HIT HIT
        ,A.THUMB_LOC THUMB_LOC, A.NAME NAME
        ,TFF.STORED_FILENAME STORED_FILENAME
        ,ROWNUM R
    FROM TODAYS_FARMER TF
    LEFT JOIN ACCOUNT A ON TF.ACC_IDX = A.IDX
    LEFT JOIN TODAYS_FARMER_FILE TFF ON TF.ACC_IDX = TFF.ACC_IDX
    WHERE TF.ISDEL =0 AND A.ISDEL =0 ORDER BY WRITTEN_DATE DESC) TB WHERE TB.R BETWEEN 1 AND 3
</select>


<select id="boardSelectAll" resultType="cocoFarm.dto.Board">
	SELECT ACC_IDX, TITLE, CONTENT, WRITTEN_DATE, HIT, THUMB_LOC ,NAME, STORED_FILENAME FROM
    (SELECT TF.ACC_IDX ACC_IDX, TF.TITLE TITLE, TF.CONTENT CONTENT, TF.WRITTEN_DATE WRITTEN_DATE, TF.HIT HIT
        ,A.THUMB_LOC THUMB_LOC, A.NAME NAME
        ,TFF.STORED_FILENAME STORED_FILENAME
        ,ROWNUM R
    FROM TODAYS_FARMER TF
    LEFT JOIN ACCOUNT A ON TF.ACC_IDX = A.IDX
    LEFT JOIN TODAYS_FARMER_FILE TFF ON TF.ACC_IDX = TFF.ACC_IDX
    WHERE TF.ISDEL =0 AND A.ISDEL =0 ORDER BY WRITTEN_DATE DESC) TB
</select>



</mapper>