<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="cocoFarm.dao.LicenseDao">
	
	
	<insert id="insertLicense" parameterType="cocoFarm.dto.LicenseDto">
		INSERT INTO business_info(ACC_IDX, BUSINESS_LICENSE_CODE, CORPORATION_NAME, REPRESENTATIVE, BUSINESS_ADDR, BUSINESS_DETAILED_ADDR, HEADHQUARTER_ADDR, HEADHQUARTER_DETAILED_ADDR, BUSINESS_CATEGORY, BUSINESS_TYPE, REG_DATE, LICENSE_IMG)
		VALUES(1, #{business_license_code }, #{corporation_name }, #{representative }, #{business_addr }, #{business_detailed_addr }
		, #{headquarter_addr }, #{headquarter_detailed_addr }, #{business_category }, #{business_type }, #{business_reg_date }, #{license_storedName })
	</insert>

	<delete id="deleteLicense" parameterType="cocoFarm.dto.LicenseDto">
		DELETE business_info WHERE acc_idx = #{acc_idx }
	</delete>

</mapper>