<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="cocoFarm.dao.LicenseDao">
	
	
	<insert id="insertLicense" parameterType="cocoFarm.dto.LicenseDto">
		INSERT INTO business_info(ACC_IDX, BUSINESS_LICENSE_CODE, CORPORATION_NAME, REPRESENTATIVE, BUSINESS_ADDR, BUSINESS_DETAILED_ADDR, HEADHQUARTER_ADDR, HEADHQUARTER_DETAILED_ADDR, BUSINESS_CATEGORY, BUSINESS_TYPE, REG_DATE, LICENSE_IMG)
		VALUES(#{acc_idx }, #{business_license_code }, #{corporation_name }, #{representative }, #{business_addr }, #{business_detailed_addr }
		, #{headhquarter_addr }, #{headhquarter_detailed_addr }, #{business_category }, #{business_type }, #{business_reg_date }, #{license_storedName })
	</insert>

	<delete id="deleteLicense" parameterType="cocoFarm.dto.LicenseDto">
		DELETE business_info WHERE acc_idx = #{acc_idx }
	</delete>
	
	<update id="updateAccType" parameterType="cocoFarm.dto.LicenseDto">
      UPDATE account SET account_type = 3 WHERE idx = #{acc_idx }
    </update>

	<update id="updateSaleIsdel" parameterType="cocoFarm.dto.LicenseDto">
		UPDATE sale SET isdel = 1 WHERE acc_idx = #{acc_idx }
	</update>
</mapper>