<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.LoginDao">
	
	<insert parameterType="cocoFarm.dto.Account" id="join">
		INSERT INTO account(idx, id, pw, name, email, phone, postnum, addr, detailed_addr, thumb_loc) 
		VALUES (account_seq.nextval, #{id}, #{pw}, #{name}, #{email}, #{phone}, #{postnum}, #{addr}, #{detailed_addr}, 'profile.jpg')
	</insert>
	
	<select id="loginCheck" parameterType="cocoFarm.dto.Account" resultType="int">
		SELECT COUNT(*)
		FROM account 
		WHERE id=#{id} AND pw=#{pw} AND isDel !=1
	</select>

	<select id="login" parameterType="cocoFarm.dto.Account" resultType="cocoFarm.dto.Account">
		SELECT idx, id, name, email, phone, postnum, addr, detailed_addr, account_type
		FROM account 
		WHERE id=#{id} AND pw=#{pw} AND isDel !=1
	</select>
	
	<select id="selectId" parameterType="cocoFarm.dto.Account" resultType="int">
		SELECT COUNT(*) FROM account
		WHERE id = #{id} 
	</select>
	
	<select id="findId" parameterType="cocoFarm.dto.Account" resultType="String">
		SELECT id FROM account
		WHERE name=#{name} AND phone=#{phone} AND isDel!=1
	</select>
	
	<select id="findPw" parameterType="cocoFarm.dto.Account" resultType="String">
		SELECT pw FROM account
		WHERE id=#{id} AND phone=#{phone} AND isDel!=1
	</select>
	
	<select id="selectAll" parameterType="int" resultType="cocoFarm.dto.Account">
		SELECT * FROM account
		WHERE idx=#{idx} AND isDel!=1
	</select>
	
	<update id="updateAccount" parameterType="cocoFarm.dto.Account">
		UPDATE account
		SET idx=idx
		<if test="pw != null and pw != ''">
			,pw = #{pw }
		</if>
		<if test="name != null and name != ''">
			,name = #{name }
		</if>
		<if test="email != null and email != ''">
			,email = #{email }
		</if>
		<if test="phone != null and phone != ''">
			,phone = #{phone }
		</if>
		<if test="postnum != null and postnum != ''">
			,postnum = #{postnum }
		</if>
		<if test="addr != null and addr != ''">
			,addr = #{addr }
		</if>
		<if test="detailed_addr != null and detailed_addr != ''">
			,detailed_addr = #{detailed_addr }
		</if>
		WHERE idx = #{idx } AND isDel!=1
	</update>
	
	<update id="updateProfile" parameterType="cocoFarm.dto.Account">
		UPDATE account SET thumb_loc=#{thumb_loc }
		WHERE idx = #{idx }
	</update>

		<select id="checkPw" parameterType="cocoFarm.dto.Account" resultType="int">
		SELECT COUNT(*) FROM account WHERE idx = #{idx} AND pw = #{pw }
	</select>

	<update id="deleteAcc" parameterType="cocoFarm.dto.Account">
		UPDATE account SET isdel = 1 WHERE idx = #{idx } AND pw = #{pw }
	</update>

</mapper>