<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cocoFarm.dao.ProductDao">

	<!-- hash map -->

	<!-- acc_idx: 글쓴이 인덱스 참조하는 속성 (세션) -->
	<!-- systimestamp: 밀리초까지 계산 -->
	<insert id="insert" parameterType="cocoFarm.dto.Product">
		INSERT INTO SALE( idx, acc_idx, title, origin, hit, written_time, last_edited, content, face_img, main_img, isdel)
		VALUES(
			sale_seq.nextval,
			#{accIdx },
			#{title },
			#{origin },
			0,
			systimestamp,
			systimestamp,
			#{content },
			#{faceImg },
			#{mainImg },
			0 )
		<selectKey resultType="int" keyProperty="idx" order="AFTER">
			SELECT sale_seq.currval FROM DUAL
		</selectKey>
	</insert>

</mapper>