<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cocoFarm.dao.SaleOptionDao">

	<resultMap id="SaleOptionResult" type="cocoFarm.dto.SaleOption">
		<result column="name" property="optionName" />
		<result column="start_amount" property="startAmount" />
	</resultMap>

	<sql id="selectSaleOption">
		SELECT idx, name,	price, unit, start_amount
		FROM sale_option
	</sql>

	<select id="selectAll" resultType="cocoFarm.dto.SaleOption">
		<include refid="selectSaleOption" />
		ORDER BY idx
	</select>
	
	<select id="countAll" resultType="int">
		SELECT COUNT(*) FROM sale_option
	</select>
	
	<select id="selectPage"
					parameterType="cocoFarm.util.Paging"
					resultMap="SaleOptionResult">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				<include refid="selectSaleOption" />
				ORDER BY idx DESC
			) B
			ORDER BY rnum
		) R
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<insert id="insert" parameterType="cocoFarm.dto.SaleOption">
		INSERT INTO SALE_OPTION( idx,sale_idx,name,description,price,unit,start_amount,left_amount,lastsold_time,written_time,last_edited,isdel)
		VALUES(
			sale_option_seq.nextval,
			#{pkIdx },
			#{optionName },
			0,
			#{price },
			#{unit },
			#{startAmount },
			#{startAmount },
			sysdate,
			sysdate,
			sysdate,
			0	)
		<selectKey resultType="int" keyProperty="idx" order="AFTER">
			SELECT sale_option_seq.currval FROM DUAL
		</selectKey>
	</insert>
	
 	<insert id="insertCategory" parameterType="cocoFarm.dto.SaleOption">
 		INSERT INTO SALE_OPT_CATEGORY( sale_opt_idx, category_idx )
 		VALUES( #{idx }, #{category } )
 	</insert>
	
</mapper>