<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cocoFarm.dao.SaleOptionDao">

	<insert id="insert" parameterType="cocoFarm.dto.SaleOption">
		INSERT INTO SALE_OPTION( sale_idx,name,description,price,unit,start_amount,left_amount,lastsold_time,written_time,last_edited,isdel)
		VALUES(
			#{idx },
			#{optionName },
			0,
			#{price },
			#{unit },
			#{startAmount },
			0,
			sysdate,
			sysdate,
			sysdate,
			0	)
	</insert>
	
</mapper>