<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cocoFarm.dao.SaleOptionDao">

	<resultMap id="SaleOptionResult" type="cocoFarm.dto.SaleOption">
		<result column="sale_idx" property="saleIdx" />
		<result column="name" property="optionName" />
		<result column="start_amount" property="startAmount" />
		<result column="left_amount" property="leftAmount" />
		<result column="last_edited" property="lastEdited" />
		<!-- Cart에서 조회할 때 SaleOption에 idx, count를 직접 넣으려고 했음 -->
<!-- 		<result column="count" property="proAmount" /> -->
<!-- 		<result column="sale_opt_idx" property="idx" /> -->
	</resultMap>

	<sql id="selectSaleOption">
		SELECT idx,sale_idx,name,price,unit,start_amount,left_amount,last_edited,isdel
		FROM sale_option
	</sql>

	<select id="selectAll" resultType="cocoFarm.dto.SaleOption">
		<include refid="selectSaleOption" />
		WHERE isdel = 0
		ORDER BY idx
	</select>
	
	<select id="countAll" parameterType="int" resultType="int">
<!-- 		SELECT COUNT(*) FROM sale_option -->
<!-- 		WHERE isdel = 0 AND acc_idx = ${_parameter } -->
	select count(1) s from SALE_OPTION SO
	left join SALE S on S.IDX = SO.SALE_IDX
	where S.ACC_IDX = 3 and S.ISDEL = 0
	</select>
	
	<select id="selectPage"
					parameterType="java.util.HashMap"
					resultMap="SaleOptionResult">
		SELECT R.* FROM (
        select SO.*, ROWNUM R from SALE_OPTION SO
        left join SALE S on S.IDX = SO.SALE_IDX
        where S.ACC_IDX = #{param2 } and S.ISDEL = 0
        ORDER BY so.idx DESC
      ) R
      WHERE R.R BETWEEN #{param1.startNo } AND #{param1.endNo }
	</select>
	
	<insert id="insert" parameterType="cocoFarm.dto.SaleOption">
		INSERT INTO SALE_OPTION( idx,sale_idx,name,description,price,unit,start_amount,left_amount,lastsold_time,written_time,last_edited,isdel)
		VALUES(
			sale_option_seq.nextval,
			#{pkIdx },
			#{optionName },
			0,
			#{price },
			#{unit },
			#{startAmount },
			#{startAmount },
			sysdate,
			sysdate,
			sysdate,
			0	)
		<selectKey resultType="int" keyProperty="idx" order="AFTER">
			SELECT sale_option_seq.currval FROM DUAL
		</selectKey>
	</insert>
	
 	<insert id="insertCategory" parameterType="cocoFarm.dto.SaleOption">
 		INSERT INTO SALE_OPT_CATEGORY( sale_opt_idx, category_idx )
 		VALUES( #{idx }, #{category } )
 	</insert>
 	
 	<select id="countOption" parameterType="int" resultType="int">
 		SELECT COUNT(*) FROM SALE_OPTION
 		WHERE sale_idx = ${_parameter } AND isdel = 0
 	</select>
	
	<select id="selectOptionBySaleIdx"
					parameterType="int"
					resultType="cocoFarm.dto.SaleOption">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT idx, sale_idx saleIdx, name optionName,	price, unit, start_amount startAmount, left_amount leftAmount, last_edited lastEdited, isdel
				FROM sale_option
				WHERE sale_idx = ${_parameter }
				ORDER BY idx
			) B
			ORDER BY rnum
		) R
		WHERE isdel = 0
	</select>
	
	<update id="update" parameterType="cocoFarm.dto.SaleOption">
		UPDATE SALE_OPTION
		SET name = #{optionName },
				price = #{price },
				unit = #{unit },
				start_amount = #{startAmount },
				left_amount = #{startAmount },
				last_edited = sysdate,
				isdel = 0
		WHERE idx = #{idx }
	</update>
	
	<insert id="updateNew" parameterType="cocoFarm.dto.SaleOption">
		INSERT INTO SALE_OPTION( idx,sale_idx,name,description,price,unit,start_amount,left_amount,lastsold_time,written_time,last_edited,isdel)
		VALUES(
			sale_option_seq.nextval,
			#{saleIdx },
			#{optionName },
			0,
			#{price },
			#{unit },
			#{startAmount },
			#{startAmount },
			sysdate,
			sysdate,
			sysdate,
			0	)
		<selectKey resultType="int" keyProperty="idx" order="AFTER">
			SELECT sale_option_seq.currval FROM DUAL
		</selectKey>
	</insert>
	
	<delete id="delete" parameterType="cocoFarm.dto.SaleOption">
		UPDATE SALE_OPTION
		SET isdel = 1
		WHERE idx = #{idx }
	</delete>
	
	<select id="selectOptionByIdx" parameterType="int"
					resultMap="SaleOptionResult">
		SELECT idx,sale_idx,name,description,price,unit,start_amount,left_amount,lastsold_time,written_time,last_edited,isdel
		FROM SALE_OPTION
		WHERE idx = ${_parameter }
	</select>
	
	<insert id="insertCart" parameterType="java.util.HashMap">
		INSERT INTO CART(idx,acc_idx,sale_opt_idx,count)
		VALUES(
			cart_seq.nextval,
			#{arg1 },
			#{arg0.idx },
			#{arg0.proAmount }	)
	</insert>
	
	<select id="selectCart" parameterType="int"
					resultType="cocoFarm.dto.Cart">
		SELECT idx,acc_idx accIdx,sale_opt_idx saleOptionIdx,count,added_time addedTime
		FROM CART
		WHERE acc_idx = ${_parameter }
	</select>
	
	<delete id="deleteCart" parameterType="int">
		DELETE FROM CART
		WHERE sale_opt_idx = ${_parameter }
	</delete>
	
	<update id="updateCart" parameterType="java.util.Map">
		UPDATE CART
		SET count = #{count }
		WHERE sale_opt_idx = #{saleOptionIdx }
	</update>
	
</mapper>