<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.TestBidDao">

	<select id="getBidList" resultType='cocoFarm.dto.TestBidDto'>
		
	</select>
	<select id="putBid" parameterType="cocoFarm.dto.TestBidDto" statementType="CALLABLE">
	    {call BIDDER(
	      #{auction_idx,jdbcType=INTEGER,mode=IN}
	      ,#{amount,jdbcType=INTEGER,mode=IN}
	      ,#{bidder_idx,jdbcType=INTEGER,mode=IN}
	      ,#{isIn,jdbcType=INTEGER,mode=OUT}
	    )}
	</select>
	<select id="getWakeTime" resultType='cocoFarm.dto.TestBidDto'>
		select TIME_WINDOW BID_TIME from AUCTION_DUE_QUE
	</select>
</mapper>