<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.TestMemberDao">

	

	<select id="selectByUserid"
	 parameterType="cocoFarm.dto.Account"
	 resultType="int">
		SELECT count(*) FROM account
		WHERE id = #{id }
	</select>

	<select id="login" parameterType="cocoFarm.dto.Account" resultType="int">
	SELECT COUNT(*) FROM account
	WHERE id = #{id }
	AND pw = #{pw }
	
	</select>
	
	<select id="getUsernick"
	 parameterType="cocoFarm.dto.Account"
	 resultType="String">
		SELECT name FROM account
		WHERE id = #{id }	
	</select>
	
	<select id="getUserIdx" parameterType="cocoFarm.dto.Account" resultType="String">
		SELECT idx FROM account
		WHERE id = #{id}
	</select>
	
	<select id="getUsertype" parameterType="cocoFarm.dto.Account" resultType="int">
		SELECT type_code FROM account
		WHERE id= #{id}
	</select>

</mapper>

	








