<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cocoFarm.dao.TimerDao">
	<resultMap id="getTime" type="cocoFarm.dto.TimerDto">
		<result property="dbTime" column="dbTime"/>
		<result property="nextCheck" column="nextCheck"/>     
	</resultMap>
	<select id="auctionExpire" resultMap="getTime" statementType="CALLABLE">
		{call AUCTION_DUE_CHECK(
			#{dbTime,jdbcType=TIMESTAMP,mode=OUT}
			,#{nextCheck,jdbcType=TIMESTAMP,mode=OUT}
	    )}
	</select>
	<select id='bidContractExpire' resultMap='getTime' statementType='CALLABLE'>
		{call BID_DUE_CHECK (
			#{dbTime,jdbcType=TIMESTAMP,mode=OUT}
			,#{nextCheck,jdbcType=TIMESTAMP,mode=OUT}
		)}
	</select>
	<select id='tempRcptClear' resultMap='getTime' statementType='CALLABLE'>
		{call TEMP_RECPT_CLEAR (
			#{dbTime,jdbcType=TIMESTAMP,mode=OUT}
			,#{nextCheck,jdbcType=TIMESTAMP,mode=OUT}
		)}
	</select>
</mapper>