@charset "UTF-8";

/* 상품 등록 버튼 */
.save_group {
	font-family: 'Jeju Gothic';
	font-size: 15px;
	width:305px;
	margin: 0px auto;
	cursor: pointer;
}
.save_group div {
	display:inline;
}
.save_group .save_button {
	color:#fff;
	border-radius:3px;
	margin:10px 0px;
	width:150px;
	height:35px;
	text-align: center;
	line-height: 35px;
	border:0px;
	background-color:#43e44f;
	opacity:0.9;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	font-weight: 600;
	cursor: pointer;
}

.save_group .re_button{
	color: #5b5b5b;
	border-radius:3px;
	margin:10px 0px;
	width:150px;
	height:35px;
	text-align: center;
	line-height: 35px;
	border:1px solid #43e44f;
	background-color:rgba(255,255,255,0.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	font-weight: 600;
	cursor: pointer;
}

.product_list table {
	margin: 25px auto;
	width: 740px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.product_list tr:first-child {
	border-top: 0px;
	font-size: 13px;
}

.product_list tr {
	border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.product_list tr:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.tr_back {
	height: 50px;
}

.th_idx {
	width: 50px;
}

.th_option {
	width: 1000px;
}

.th_amount {
	width: 100px;
}

.th_price {
	width: 150px;
}

.th_update {
	width: 100px;
}

.tr_back .td_update {
	background-color: #43e44f;
	border: none;
	color: white;
	border-radius: 3px;
	margin: 10px 0px;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 31px;
	opacity: 0.7;
	transition: 0.3s;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	font-weight: 600;
	cursor: pointer;
}

.td_update:hover {
	opacity: 1
}

/* Customized Paging */
.pg_wrap {
	clear: both;
	width: 100%;
	/* 	border:1px solid black; */
}

.pg_page { /* 기본페이지 */
	/*  width:30px !important;
    height:30px !important;
     */
	width: 100% !important;
	/* height: 23px !important; */
	font-size: 13px;
	color: #333;
	line-height: 33px;
	padding: 0;
	border: 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
	/*     display:inline; */
}

.pg_page ul li {
	display: inline;
	position: relative;
	float: left;
	vertical-align: top;
}


.pg_current { /* 현재페이지 */
	width: 30px !important;
	height: 30px !important;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	line-height: 33px;
	margin: 0;
	padding: 0;
	background: #37ed81;
	
	border: 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.pg_start { /* 처음 */
	position: relative;
	top: 50%;
	width: 28px !important;
	height: 28px !important;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-indent: -9999px;
	display: inline-block;
}

.pg_start:after {
	position: absolute;
	top: 10px;
	left: 10px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	transform: rotate(45deg);
}

.pg_start:before {
	position: absolute;
	top: 10px;
	left: 16px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	transform: rotate(45deg);
}

.pg_start:hover {
	background: #fff;
	border: 1px solid #333;
}

.pg_prev { /* 이전 */
	position: relative;
	top: 50%;
	width: 28px !important;
	height: 28px !important;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-indent: -9999px;
	display: inline-block;
}

.pg_prev:after {
	position: absolute;
	top: 10px;
	left: 13px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	transform: rotate(45deg);
}

.pg_prev:hover {
	background: #fff;
	border: 1px solid #333;
}

.pg_next { /* 다음 */
	position: relative;
	top: 50%;
	width: 28px !important;
	height: 28px !important;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-indent: -9999px;
	display: inline-block;
}

.pg_next:after {
	position: absolute;
	top: 10px;
	right: 13px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	transform: rotate(45deg);
}

.pg_next:hover {
	background: #fff;
	border: 1px solid #333;
}

.pg_end { /* 맨끝 */
	position: relative;
	top: 50%;
	width: 28px !important;
	height: 28px !important;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-indent: -9999px;
	display: inline-block;
}

.pg_end:after {
	position: absolute;
	top: 10px;
	right: 10px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	transform: rotate(45deg);
}

.pg_end:before {
	position: absolute;
	top: 10px;
	right: 16px;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	transform: rotate(45deg);
}

.pg_end:hover {
	background: #fff;
	border: 1px solid #333;
}

/* 장바구니 조회 */
.save_group .purchase {
	background-color: #43e44f;
	border: none;
	color: white;
	border-radius: 3px;
	margin: 10px 0px;
	width: 150px;
	height: 35px;
	text-align: center;
	line-height: 31px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	font-weight: 600;
	cursor: pointer;
}

.save_group .return {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #43e44f;
	color: black;
	border-radius: 3px;
	margin: 10px 0px;
	width: 150px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	font-weight: 600;
	cursor: pointer;
}

.tr_back .basket_delete {
	background-color: #bcbcbc;
	border: none;
	border-radius: 3px;
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-weight: 550;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

.tr_back .basket_delete:hover {
	opacity: 1
}

.td_optionName {
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	text-align: left;
}

.th_price, .th_delivery {
	width: 90px;
}

.td_productName {
	font-family: 'Jeju Gothic';
	font-size: 14px;
/* 	width: 370px; 상품금액 제거 */
	width: 455px;
	display: inline-block;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 5px;
}

.th_checkbox, .td_checkbox {
	padding-right: 5px;
	padding-left: 5px;
}

input[id="checkAll"], input[id="checkRow"] {
	width: 16px;
	height: 18px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

.warning {
	color: #646464;
	font-size: 12px;
	top: 41px;
	right: 325px;
	position: absolute;
}

.payment_amount {
	margin: 10px auto;
	width: 740px;
	border-spacing: 0px;
}

.tr_payment {
	height: 50px;
	padding: 10px;
}

.name_price {
	padding: 10px 15px;
	font-family: 'Jeju Gothic';
	font-size: 17px;
	width: 250px;
}

.real_price {
	font-family: 'Jeju Gothic';
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
	width: 150px;
}

.name_total {
	font-family: 'Jeju Gothic';
	color: #ff4141;
	font-size: 25px;
	text-align: left;
	padding: 1px 10px 8px;
}

.real_total {
	font-family: 'Jeju Gothic';
	color: #ff4141;
	font-size: 25px;
	text-align: right;
	padding-right: 20px;
	width: 285px;
	padding-bottom: 8px;
}

#border_payment {
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.tr_back .option_count {
	float: right;
}

.option_count .button_minus, .tr_back .button_plus {
	text-align: center;
	line-height: 14px;
  display: inline-block;
	width: 22px;
	height: 16px;
	margin: 0;
	font-size: 15px;
	border: 1px solid rgb(208, 212, 217);
	background-color: #efefef;
	font-weight: lighter;
	color: #a0a0a0;
	cursor: pointer;
}

.option_count .pronum_text{
	width: 18px;
	height: 17px;
	border-top: 1px solid rgb(208, 212, 217);
	border-bottom:  1px solid rgb(208, 212, 217);
	border-left: 0px;
	border-right: 0px;
}

/* 상품 후기 */
.comment_insert .comment_cmt {
	padding-left: 180px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.insertComm_button {
	background-color: #43e44f;
	border: none;
	color: white;
	border-radius: 3px;
	margin: 10px 0px;
	width: 50px;
	height: 35px;
	text-align: center;
	line-height: 31px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	font-weight: 600;
	cursor: pointer;
}

.box_cmt .cont_cmt .list_cmt {
	border-top: 1px solid #f4f4f4;
}

.cmt_cont .wrap_cont {
	overflow: hidden;
	padding: 2px 0 20px;
	border-bottom: 1px solid #f4f4f4;
}

.cmt_cont .wrap_cont .txt_prod {
	display: block;
	margin: 2px 51px 0 0;
	font-size: 13px;
	line-height: 17px;
	color: #919191;
}

.cmt_cont .wrap_cont .desc_cmt {
	display: block;
	max-height: none;
	margin-top: 10px;
	padding-right: 17px;
	line-height: 21px;
	color: #343434;
	letter-spacing: -.5px;
}

.item_info .open_icon {
	cursor: pointer;
}

/* 상품 후기 정보 */
.item_info {
	position:relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 51px;
	border-top:1px solid rgb(239, 239, 239);
	border-bottom: 1px solid rgb(239, 239, 239);
	margin-bottom: 4px;
	overflow: hidden;
	font-family: '나눔고딕','Nanum Gothic', sans-serif;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0,0,0,.13); 
	display: inline-block;
}

.item_info a{
	padding-left: 20px;
	font-weight: normal;
	color: #464646;
	font-size: 14px;
	font-family: 'Jeju Gothic', serif;
}

.info_open {
	font-size: 14px;
	display: block;
	height: 100%;
}
	
.open_comment {
	float: right;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-right: 30px;
	cursor: pointer;
}

/* 결제 내역 */
.payCheck_table {
/* 	table-layout:fixed; */
	text-align:center;
	border-bottom:1px solid #ddd;
	border-collapse: collapse;
}

.payCheck_menu {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	height: 50px;
}

.message_num {
	width: 10px;
	overflow: hidden;
}

.payCheck_cont {
	height: 50px;
	font-size: 13px;
}