@charset "UTF-8";

.product_list table{
	margin: 20px auto;
	width: 740px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.product_list tr:first-child {
	border-top: 0px; 
}

.product_list tr {
	border-top: 1px solid rgba(0,0,0,0.13);
}

.product_list tr:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.13);
}

.tr_back {
	height: 50px;
}

.th_idx {
	width: 50px;
}

.th_option {
	width: 1000px;
}

.th_amount {
	width: 100px;
}

.th_price {
	width: 150px;
}

.th_update {
	width: 100px;
}

.td_update {
	background-color: #43e44f;
	border: none;
	color: white;
	border-radius: 3px;
	margin: 10px 0px;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 31px;
	opacity: 0.7;
	transition: 0.3s;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	font-weight: 600;
	cursor: pointer;
}

.td_update:hover { opacity: 1 }


/* Customized Paging */
.pg_wrap {
	clear:both;
	width:100%;
/* 	border:1px solid black; */
}
.pg_page { /* 기본페이지 */
   /*  width:30px !important;
    height:30px !important;
     */
	width:100% !important;
	height:50px !important;
	font-size:13px;
	color:#333;
	line-height:33px;
	padding:0;
	background:#fff;
	border:0;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-align:center;
/*     display:inline; */
   
}

.pg_page ul li{
	display: inline;
	position:relative;
	float: left;
	
}
.pg_page:hover {
	background:#f2f2f2;
}

.pg_current { /* 현재페이지 */
	width:30px !important;
	height:30px !important;
	font-size:13px;
	color:#fff;
	font-weight:normal;
	line-height:33px;
	margin:0;
	padding:0;
	background:#37ed81;
	border:0;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-align:center;
	display:inline-block;
}
.pg_start { /* 처음 */
	position:relative;
	top:50%;
	width:28px !important;
	height:28px !important;
	background:#fff;
	border:1px solid #ccc;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-indent:-9999px;
	display:inline-block;
}
.pg_start:after {
	position:absolute;
	top:10px;
	left:10px;
	content:"";
	width:6px;
	height:6px;
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid #777;
	border-left:1px solid #777;
	transform:rotate(45deg);
}
.pg_start:before {
	position:absolute;
	top:10px;
	left:16px;
	content:"";
	width:6px;
	height:6px;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	transform:rotate(45deg);
}
.pg_start:hover {
    background:#fff;
    border:1px solid #333;
}
.pg_prev { /* 이전 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_prev:after {
    position:absolute;
    top:10px;
    left:13px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid #777;
    border-left:1px solid #777;
    transform:rotate(45deg);
}
.pg_prev:hover {
    background:#fff;
    border:1px solid #333;
}
.pg_next { /* 다음 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_next:after {
    position:absolute;
    top:10px;
    right:13px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_next:hover {
    background:#fff;
    border:1px solid #333;
}
.pg_end { /* 맨끝 */
    position:relative;
    top:50%;
    width:28px !important;
    height:28px !important;
    background:#fff;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-indent:-9999px;
    display:inline-block;
}
.pg_end:after {
    position:absolute;
    top:10px;
    right:10px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_end:before {
    position:absolute;
    top:10px;
    right:16px;
    content:"";
    width:6px;
    height:6px;
    border-top:1px solid #777;
    border-right:1px solid #777;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    transform:rotate(45deg);
}
.pg_end:hover {
    background:#fff;
    border:1px solid #333;
}

/* 장바구니 조회 */
.purchase {
   background-color: #43e44f;
   border: none;
   color: white;
   border-radius: 3px;
   margin: 10px 0px;
   width: 150px;
   height: 35px;
   text-align: center;
   line-height: 31px;
   opacity: 0.7;
   transition: 0.3s;
   box-shadow: 0 1px 3px rgba(0,0,0,.13);
   font-weight: 600;
   cursor: pointer;
}
.purchase:hover { opacity: 1 }

.return {
  background-color: rgba(255,255,255,0.4);
  border: 1px solid #43e44f;
  color: #5b5b5b;
  border-radius: 3px;
  margin: 10px 0px;
  width: 150px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  font-weight: 600;
  cursor: pointer;
}

.basket_delete {
	background-color: #bcbcbc;
	border: none;
	border-radius: 3px;
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-weight: 550;
  opacity: 0.7;
  transition: 0.3s;
	cursor: pointer;
}
.basket_delete:hover { opacity: 1 }

.td_optionName {
	border-bottom: 1px solid rgba(0,0,0,0.13);
	text-align: left;
}

.th_price, .th_delivery {
	width: 90px;
}

.td_productName {
	font-family: 'Jeju Gothic';
	font-size: 14px;
	width: 370px;
	display: inline-block;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 5px;
}

.th_checkbox, .td_checkbox {
	padding-right: 5px;
	padding-left: 5px;
}

input[id="chk_all"], input[id="chk_basket"] {
	width: 16px;
	height: 18px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

.warning {
	color: #646464;
	font-size: 12px;
  top: 555px;
  left: 320px;
	position: absolute;
}

.payment_amount {
	margin: 10px auto;
	width: 740px;
	border-spacing: 0px;
}

.tr_payment {
	height: 50px;
	padding: 10px;
}

.name_price {
	padding: 10px 15px;
	font-family: 'Jeju Gothic';
	font-size: 15px;
	width: 250px;
}

.real_price {
	font-family: 'Jeju Gothic';
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
	width: 150px;
}

.name_total {
	font-family: 'Jeju Gothic';
	color: #ff4141;
	font-size: 25px;
	text-align: left;
	font-weight: 600;
	padding: 1px 10px 8px;
}

.real_total {
	font-family: 'Jeju Gothic';
	color: #ff4141;
	font-size: 25px;
	text-align: right;
	font-weight: 600;
	padding-right: 20px;
	width: 285px;
	padding-bottom: 8px;
}

#border_payment {
	border-bottom: 1px solid rgba(0,0,0,0.13);
}